<mat-toolbar class="toolbar">
  <span class="toolbar-title">User Utility</span>
  
  <div class="menu-items-left">
    <a *ngIf="isAuthenticated()" mat-button class="menu-button" routerLink="/user-form">Create User</a>
    <a *ngIf="isAuthenticated()" mat-button class="menu-button" routerLink="/user-list">Show Users</a>
  </div>

  <span class="spacer"></span>

  <button *ngIf="isAuthenticated()" mat-button class="menu-button logout-button" (click)="logout()">LOGOUT</button>
</mat-toolbar>

<router-outlet></router-outlet>

