<div class="login-container">
  <h2 class="login-title">Login</h2>
  <form (ngSubmit)="login()" class="login-form">
      <mat-form-field appearance="outline" class="login-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="emailAddress" name="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" type="submit">Login</button>
  </form>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>


  
