.user-form2 {
    display: flex;
    flex-direction: column;
    gap: 30px; // optional: adds spacing between form fields

    .field {
        width: 300px;
    }

    button {
        width: 50px;
    }
}